# Node modules
node_modules/
server/node_modules/

# Temporary uploads & logs
server/public/uploads/*
!server/public/uploads/.gitkeep
*.log
.DS_Store

# Environment files
.env
server/.env
*.env

# Temporary scratch files
scratch/
